{% extends 'base.html' %} {% block content %}
<div class="col-xs-12 col-sm-12 offset-md-3 col-md-6 login_signup">
<input type="checkbox" id="check">
<div  class="login form" style="margin: 2rem;">
    <header>Login</header>
        {% if error %}
        <p class="error-message">{{ error }}</p>
        {% endif %}
        {% if messages %}
            {% for message in messages %}
               <p class="error-message">{{ message }}</p>
            {% endfor %}
        {% endif %}
        <form action="{% url 'login' %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <input type="text" name="username" placeholder="Username" class="form-control" required />
          </div>
          <div class="form-group">
            <input
              type="password"
              name="password"
              placeholder="Password"
              class="form-control"
              required
            />
            
          </div>
          <input type="submit" class="button" value="Login">
        </form>
        <div class="signup">
          <span class="signup">Don't have an account?
              <a href="{% url 'register' %}">Register</a>
          </span>
      </div>
      </div>
      </div>
{% endblock %}
